.contacts > div{
  margin-bottom: 15px;
}

.contacts h2{
  font-size: 25px;
  margin-bottom: 30px;
}

.add-contact-input {
  margin-top: 15px;
  border-radius: 15px;
  width: 250px;
  height: 30px;
}

.add-contact-block {
  border-top: 1px solid grey;
  max-width: 300px;
  margin: 15px auto 0;
}

