.contacts > div{
  margin-bottom: 15px;
}

.contacts h2{
  font-size: 25px;
  margin-bottom: 5px;
}

.input {
  margin-top: 15px;
  border-radius: 15px;
  width: 250px;
  height: 30px;
  display: inline-block;
  padding: 7px;
  font-size: 14px;
}

.find-contact-input {
  margin-bottom: 15px;
}

.add-contact-block {
  border-top: 1px solid grey;
  max-width: 400px;
  margin: 15px auto 0;
}

.button {
  padding: 7px;
  border-radius: 15px;
  background-color: green;
  margin-left: 6px;
}

.button:hover {
  background-color: rgb(2, 61, 2);
}

